<!-- Bootstrap Libraries -->
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>B-05 Project</title>
  </head>
  <body style="background-image: url('https://i.ibb.co/cb4RSrm/background-Pic.png'); 
               background-repeat: no-repeat; 
               background-attachment: fixed;
               background-size: 100% 100%;">
    <div style="width: 35%; 
                background-color:navy; 
                height: 50%; 
                border-radius: 10%;
                margin-top: 10%;
                margin-left: 32.5%;">
        <center style="font-size: 45; color: white; padding-top: 5%;">Welcome To B-05's Off Grounds Housing Guide</center>
        <button class="btn btn-secondary" type="button" style="background-color: beige;
                                                               height: 20%;
                                                               width: 40%;
                                                               margin-left: 30%;
                                                               margin-top: 10%;"
                onclick="window.location.href='/housing'">
            <Text style="color: black; font-size: 36;">Let's Go!</Text>
        </button>
    </div>
  </body>
</html>
